html,
body {
  font-family: "Open Sans", sans-serif;
  margin: 0 !important;
}

body > #app {
  height: 100vh;
  overflow-x: hidden;
  background-color: lightgray;
}

.card {
	border: 1px solid grey;
	padding: 1rem;
	margin: 0rem 0;
	border-radius: 0.5rem;
	background-color: #fff;
}

.btn-primary{
	border: none;
	background-color: lightskyblue;
  padding:10px;
  border-radius: 4px;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

form {
  position: relative;
  overflow: hidden;
}

form > .form-group {
  display: flex;
  flex-direction: column;
  margin: 0.2rem 0;
}

.form-group > .form-control {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid gray;
  padding: 0.5rem 0;
  outline: none;
}

.todo-item {
  background-color: lightblue;
  padding: 1rem;
}

.container {
  margin: 0 auto;
  width: 600px;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0 auto;
    width: 400px;
  }
}

@media screen and (max-width: 375px) {
  body {
    padding: 0.5rem;
  }
  .container {
    width: 100%;
    padding-bottom: 4rem;
  }
}

.flex {
	display:flex;
}

.my-auto{
	margin:auto 0;
}

.mt-1{
	margin-top: 100px!important;
}

.me-2{
	margin-right: 1rem!important;
}

.remove-item{
	text-decoration:none;
	color:black;
}

.text-center {
  text-align: center;
}

#title{
  background: rgb(230,230,230);
  padding: 0.5% 2%;
  width: 75%;
  height: 30px;
  border-radius: 10px;
}

#removeAll{
  text-decoration: none;
  color: red;
}
